In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Reindexing

In [2]:
obj = Series([4.5, 7.2, -5.3, 3.5], index=['d', 'b', 'a', 'c'])

In [3]:
obj

d    4.5
b    7.2
a   -5.3
c    3.5
dtype: float64

### reindexing now

In [5]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])

In [6]:
obj2

a   -5.3
b    7.2
c    3.5
d    4.5
e    NaN
dtype: float64

In [8]:
obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)

a   -5.3
b    7.2
c    3.5
d    4.5
e    0.0
dtype: float64

In [9]:
obj

d    4.5
b    7.2
a   -5.3
c    3.5
dtype: float64

## ffill method 
### carries values forward

In [10]:
obj3 = Series(['blue', 'purple', 'yellow'], index=[0,2,4])

In [13]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

# With DataFrame, reindex can either alter row, columns or both

### when passed just a sequence, the rows are reindexed:

In [19]:
frame = DataFrame(np.arange(9).reshape(3,3), index=['a', 'c', 'd'],
                  columns=['Ohio', 'Texas', 'California'])

In [20]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [21]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])

In [22]:
frame2

   Ohio  Texas  California
a     0      1           2
b   NaN    NaN         NaN
c     3      4           5
d     6      7           8

## reindex columns with columns key

In [23]:
states = ['Texas', 'Utah', 'California']

In [24]:
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

## index both at the same time

In [29]:
frame.reindex(index=['a', 'b', 'c', 'd'], method='bfill',
   ....:               columns=states)

   Texas  Utah  California
a      1   NaN           2
b      4   NaN           5
c      4   NaN           5
d      7   NaN           8

### label-indexing with ix

In [33]:
frame.ix[['a', 'b', 'c', 'd'], states]

   Texas  Utah  California
a      1   NaN           2
b    NaN   NaN         NaN
c      4   NaN           5
d      7   NaN           8

# Dropping entries from axis

### drop method

In [34]:
obj = Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])

In [35]:
new_obj = obj.drop('c')

In [36]:
new_obj

a    0
b    1
d    3
e    4
dtype: float64

In [37]:
obj.drop(['d', 'c'])

a    0
b    1
e    4
dtype: float64

In [38]:
data = DataFrame(np.arange(16).reshape((4, 4)),
   ....:                  index=['Ohio', 'Colorado', 'Utah', 'New York'],
   ....:                  columns=['one', 'two', 'three', 'four'])

In [39]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15