In [3]:
import pandas as pd

In [4]:
from StringIO import StringIO

In [5]:
data="""\
Sample Animal Intelligence
1 Dog Smart
2 Dog Smart
3 Cat Dumb
4 Cat Dumb
5 Dog Dumb
6 Cat Smart"""

In [6]:
dframe = pd.read_table(StringIO(data),sep='\s+')

In [7]:
dframe

   Sample Animal Intelligence
0       1    Dog        Smart
1       2    Dog        Smart
2       3    Cat         Dumb
3       4    Cat         Dumb
4       5    Dog         Dumb
5       6    Cat        Smart

In [8]:
pd.crosstab(dframe.Animal,dframe.Intelligence,margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              2      1    3
Dog              1      2    3
All              3      3    6

In [39]:
dframe['Intelligence'].groupby([dframe['Intelligence'], dframe['Animal']]).count()

Intelligence  Animal
Dumb          Cat       2
              Dog       1
Smart         Cat       1
              Dog       2
dtype: int64

In [64]:
dframe['Animal'].groupby([dframe['Animal'], dframe['Intelligence']]).count()

Animal  Intelligence
Cat     Dumb            2
        Smart           1
Dog     Dumb            1
        Smart           2
dtype: int64

In [42]:
dframe2 = dframe['Animal'].groupby([dframe['Animal'], dframe['Intelligence']]).count()

In [78]:
dframe.groupby(['Animal','Intelligence'])[['Sample']].count()

                     Sample
Animal Intelligence
Cat    Dumb               2
       Smart              1
Dog    Dumb               1
       Smart              2