In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                   'dataset1':np.random.randn(5),
                   'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0 -0.441584  0.994356  X  alpha
1 -1.397179  0.260396  X   beta
2 -1.732644 -2.029149  Y  alpha
3 -0.753375 -0.429518  Y   beta
4 -0.242315  0.507291  Z  alpha

In [3]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [4]:
group1

In [5]:
group1.mean()

k1
X   -0.919382
Y   -1.243010
Z   -0.242315
Name: dataset1, dtype: float64

In [6]:
cities = np.array(['NY','LA','LA','NY','NY'])

month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [7]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -1.397179
    JAN   -1.732644
NY  FEB   -0.753375
    JAN   -0.341949
Name: dataset1, dtype: float64

In [8]:
dframe

   dataset1  dataset2 k1     k2
0 -0.441584  0.994356  X  alpha
1 -1.397179  0.260396  X   beta
2 -1.732644 -2.029149  Y  alpha
3 -0.753375 -0.429518  Y   beta
4 -0.242315  0.507291  Z  alpha

In [9]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X  -0.919382  0.627376
Y  -1.243010 -1.229334
Z  -0.242315  0.507291

In [10]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha -0.441584  0.994356
   beta  -1.397179  0.260396
Y  alpha -1.732644 -2.029149
   beta  -0.753375 -0.429518
Z  alpha -0.242315  0.507291

In [11]:
dframe.groupby('k1').size()

k1
X    2
Y    2
Z    1
dtype: int64

In [14]:
for name,group in dframe.groupby('k1'):
    print "This is the %s group" % (name)
    print group
    print '\n'

This is the X group
   dataset1  dataset2 k1     k2
0 -0.441584  0.994356  X  alpha
1 -1.397179  0.260396  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2 -1.732644 -2.029149  Y  alpha
3 -0.753375 -0.429518  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4 -0.242315  0.507291  Z  alpha

In [15]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print "Key1 = %s Key2 = %s" % (k1,k2)
    print group
    print '\n'

Key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0 -0.441584  0.994356  X  alpha


Key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1 -1.397179  0.260396  X  beta


Key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2 -1.732644 -2.029149  Y  alpha


Key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3 -0.753375 -0.429518  Y  beta


Key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4 -0.242315  0.507291  Z  alpha

In [16]:
group_dict = dict(list(dframe.groupby('k1')))

In [19]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

In [20]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -0.441584  0.994356
 1 -1.397179  0.260396
 2 -1.732644 -2.029149
 3 -0.753375 -0.429518
 4 -0.242315  0.507291, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [21]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]

dataset2_group.mean()

          dataset2
k1 k2
X  alpha  0.994356
   beta   0.260396
Y  alpha -2.029149
   beta  -0.429518
Z  alpha  0.507291