In [6]:
import numpy as np
import pandas as pd
from numpy.random import randn
from pandas import Series, DataFrame

In [2]:
my_ser = Series([1,2,3,4], index=['A','B','C','D'])
my_index = my_ser.index

In [3]:
my_index

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [4]:
my_index[:2]

Index([u'A', u'B'], dtype='object')

In [5]:
my_index[0] = 'Z'

TypeError: Index does not support mutable operations

In [7]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [9]:
ser1 = my_ser.reindex(['A','B','C','D','E','F'])

ser1

In [11]:
ser1

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [13]:
ser1.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [14]:
ser1.reindex(range(3),method='ffill')

0   NaN
1   NaN
2   NaN
dtype: float64

In [15]:
ser1

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [31]:
ser1.reindex(range(2),method="ffill")

0   NaN
1   NaN
dtype: float64

In [27]:
ser2 = Series(['USA','Mexico','Japan'], index=[1,2,3])
ser2

1       USA
2    Mexico
3     Japan
dtype: object

In [30]:
ser2.reindex(range(5),method='ffill')

0       NaN
1       USA
2    Mexico
3     Japan
4     Japan
dtype: object

In [32]:
dframe = DataFrame(randn(25).reshape(5,5),index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])

In [33]:
dframe

       col1      col2      col3      col4      col5
A -0.513335  1.157208 -1.122809 -1.523240  0.155048
B -0.805638  1.602582 -0.905937 -0.733245 -0.410878
D -0.906742  0.404446  1.885015 -2.019954  0.834010
E -0.388451 -0.899512 -0.578597  0.332621 -0.019593
F -0.139168 -0.139323  0.291383 -1.854970  0.631636

In [34]:
dframe.reindex(['A','B','C','D','E','F'])

       col1      col2      col3      col4      col5
A -0.513335  1.157208 -1.122809 -1.523240  0.155048
B -0.805638  1.602582 -0.905937 -0.733245 -0.410878
C       NaN       NaN       NaN       NaN       NaN
D -0.906742  0.404446  1.885015 -2.019954  0.834010
E -0.388451 -0.899512 -0.578597  0.332621 -0.019593
F -0.139168 -0.139323  0.291383 -1.854970  0.631636

In [40]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -0.513335  1.157208 -1.122809 -1.523240  0.155048   NaN
B -0.805638  1.602582 -0.905937 -0.733245 -0.410878   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.906742  0.404446  1.885015 -2.019954  0.834010   NaN
E -0.388451 -0.899512 -0.578597  0.332621 -0.019593   NaN
F -0.139168 -0.139323  0.291383 -1.854970  0.631636   NaN