In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
!cat ch06ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [7]:
df = pd.read_csv('ch06ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### other way: read_table

In [9]:
df2 = pd.read_table('ch06ex1.csv',sep=',')
df2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [12]:
!cat ch06ex2.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world

In [13]:
df_without_header = pd.read_table('ch06ex2.csv', sep=',', header=None)
df_without_header

   0  1  2  3        4
0  a  b  c  d  message
1  1  2  3  4    hello
2  5  6  7  8    world

In [31]:
pd.read_table('ch06ex2.csv', sep=',', names=('a','b','c','d','message'))

   a  b  c  d  message
0  a  b  c  d  message
1  1  2  3  4    hello
2  5  6  7  8    world

In [32]:
names = ['a', 'b', 'c', 'd', 'col 5']

In [33]:
pd.read_csv('ch06ex2.csv', names=names, index_col='col 5')

         a  b  c  d
col 5
message  a  b  c  d
hello    1  2  3  4
world    5  6  7  8