In [3]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
frame = DataFrame(np.random.randn(4,3), columns=list('bde'),
                 index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [5]:
frame

               b         d         e
Utah   -1.604757  0.770198  0.982023
Ohio    1.110047 -0.583352 -0.274500
Texas  -0.167547 -2.174234  2.022349
Oregon  0.281894  1.499685 -0.396581

In [6]:
np.abs(frame)

               b         d         e
Utah    1.604757  0.770198  0.982023
Ohio    1.110047  0.583352  0.274500
Texas   0.167547  2.174234  2.022349
Oregon  0.281894  1.499685  0.396581

In [7]:
f = lambda x: x.max() - x.min()

In [8]:
frame.apply(f)

b    2.714804
d    3.673919
e    2.418930
dtype: float64

In [9]:
frame.apply(f, axis=1)

Utah      2.586781
Ohio      1.693399
Texas     4.196583
Oregon    1.896266
dtype: float64

In [10]:
g = lambda x: Series([x.min(), x.max()], index=['min', 'max'])

In [11]:
frame.apply(g)

            b         d         e
min -1.604757 -2.174234 -0.396581
max  1.110047  1.499685  2.022349

In [12]:
format = lambda x: '%.2f'%x

In [13]:
frame.applymap(format)

            b      d      e
Utah    -1.60   0.77   0.98
Ohio     1.11  -0.58  -0.27
Texas   -0.17  -2.17   2.02
Oregon   0.28   1.50  -0.40

#### use map-function for Series

In [14]:
frame['e'].map(format)

Utah       0.98
Ohio      -0.27
Texas      2.02
Oregon    -0.40
Name: e, dtype: object

In [15]:
obj =Series(range(4), index=['d', 'a', 'b', 'c'])

In [16]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [17]:
frame = DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],
   .....:                   columns=['d', 'a', 'b', 'c'])

In [18]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [19]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [21]:
obj.sort_values()

d    0
a    1
b    2
c    3
dtype: int64

### sorting DataFrame by the values in one or more columns

In [22]:
frame = DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})

In [23]:
frame

   a  b
0  0  4
1  1  7
2  0 -3
3  1  2

In [25]:
frame.sort_values(by='b')

   a  b
2  0 -3
3  1  2
0  0  4
1  1  7

In [26]:
frame.sort_values(by=['a', 'b'])

   a  b
2  0 -3
0  0  4
3  1  2
1  1  7

In [31]:
obj = Series([7, -5, 7, 4, 2, 0, 4])

In [32]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [33]:
obj.rank(method='first')

0    6
1    1
2    7
3    4
4    3
5    2
6    5
dtype: float64

In [34]:
obj.rank(ascending=False, method='max')

0    2
1    7
2    2
3    4
4    5
5    6
6    4
dtype: float64

In [35]:
frame = DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
   .....:                    'c': [-2, 5, 8, -2.5]})

In [36]:
frame.rank(axis=1)

   a  b  c
0  2  3  1
1  1  3  2
2  2  1  3
3  2  3  1