In [2]:
import numpy as np
import pandas as pd
from pandas import Series

In [5]:
obj = Series([3,4,5,6])
print (obj)
print (obj.values)
print (obj.index)

0    3
1    4
2    5
3    6
dtype: int64
[3 4 5 6]
Int64Index([0, 1, 2, 3], dtype='int64')

In [7]:
#defining index of series

obj2 = Series([1,2,3,4], index=['a','b','c','d'])
obj2

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
#python dicts can be be passed to Series, thus creating such a Series. when only passing dict,
#index of resulting Series will have the dict's ky in sorted order

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [9]:
#placing values in appropiate position
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata,index=states)

In [11]:
#since California has no value in sdata, NaN is displayed
obj4

California      NaN
Ohio          35000
Oregon        16000
Texas         71000
dtype: float64