In [1]:
T = (40,)
T

(40,)

In [2]:
t = (40,60,70)
t2 = (1,2,3,4)

In [3]:
t + t2

(40, 60, 70, 1, 2, 3, 4)

In [4]:
t

(40, 60, 70)

In [5]:
t2

(1, 2, 3, 4)

In [6]:
t2*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [7]:
t3 = 5, 6, 7, 8

In [8]:
t3

(5, 6, 7, 8)

In [9]:
t3.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [10]:
sorted(t3)

[5, 6, 7, 8]

In [12]:
tuple(sorted(t3))

(5, 6, 7, 8)

In [13]:
type(sorted(t3))

list

In [15]:
t3.index(5)

0

In [22]:
t3

(5, 6, 7, 8)

In [23]:
t3.index(5,6)

ValueError: tuple.index(x): x not in tuple

In [27]:
t4 = 1,2,3,4,5,2,6,7,1,3,2

In [28]:
t4.index(1,1)

8

In [29]:
t4.index(1,0)

0

In [30]:
t4.index(1,5)

8

In [31]:
t4.index(2,3)

5

In [32]:
t4.index(2,6)

10

In [33]:
t4.count()

TypeError: count() takes exactly one argument (0 given)

In [34]:
t4.count(2)

3

In [35]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [36]:
3, 2

(3, 2)

In [37]:
3

3

In [38]:
bob = dict(name='Bob', age=40.5, jobs=['dev', 'mgr'])

In [39]:
bob

{'age': 40.5, 'jobs': ['dev', 'mgr'], 'name': 'Bob'}

In [40]:
tuple(bob.values())

(['dev', 'mgr'], 'Bob', 40.5)

In [41]:
list(bob.items())

[('jobs', ['dev', 'mgr']), ('name', 'Bob'), ('age', 40.5)]

In [42]:
tuple(bob.items())

(('jobs', ['dev', 'mgr']), ('name', 'Bob'), ('age', 40.5))

In [43]:
tuple(bob.keys())

('jobs', 'name', 'age')

### just some test

In [46]:
d = dict(zip(tuple(bob.keys()), tuple(bob.values())))

In [45]:
d

{'age': 40.5, 'jobs': ['dev', 'mgr'], 'name': 'Bob'}

In [2]:
from collections import namedtuple

In [3]:
help(namedtuple)

Help on function namedtuple in module collections:

namedtuple(typename, field_names, verbose=False, rename=False)
    Returns a new subclass of tuple with named fields.

    >>> Point = namedtuple('Point', ['x', 'y'])
    >>> Point.__doc__                   # docstring for the new class
    'Point(x, y)'
    >>> p = Point(11, y=22)             # instantiate with positional args or keywords
    >>> p[0] + p[1]                     # indexable like a plain tuple
    33
    >>> x, y = p                        # unpack like a regular tuple
    >>> x, y
    (11, 22)
    >>> p.x + p.y                       # fields also accessable by name
    33
    >>> d = p._asdict()                 # convert to a dictionary
    >>> d['x']
    11
    >>> Point(**d)                      # convert from a dictionary
    Point(x=11, y=22)
    >>> p._replace(x=100)               # _replace() is like str.replace() but targets named fields
    Point(x=100, y=22)

In [4]:
dir(namedtuple)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [5]:
rec = namedtuple('rec', 'name age job')

In [6]:
rec

__main__.rec

In [7]:
bob = rec('Bob', age=40.5, ['dev', 'mgr'])

SyntaxError: positional argument follows keyword argument (<ipython-input-7-9690afeefaa0>, line 1)

In [8]:
bob = rec('Bob', age=40.5, job=['dev', 'mgr'])

In [9]:
bob

rec(name='Bob', age=40.5, job=['dev', 'mgr'])

In [10]:
bob[0]

'Bob'

In [11]:
bob[1]

40.5

In [12]:
bob[2]

['dev', 'mgr']

In [13]:
bob[0], bob[2]

('Bob', ['dev', 'mgr'])

In [14]:
bob.name, bob.job

('Bob', ['dev', 'mgr'])

In [19]:
d_neu = bob._asdict()
d_neu  #works like dict now

OrderedDict([('name', 'Bob'), ('age', 40.5), ('job', ['dev', 'mgr'])])

In [17]:
d_neu['name']

'Bob'

In [18]:
d_neu['age']

40.5

In [81]:
name, job

NameError: name 'name' is not defined

#### after tuple assignment:

In [ ]:
name, age, job = bob

In [83]:
name, job

('Bob', ['dev', 'mgr'])